# ETL and Pull OD data for growth experiments that are not generated by robotic ALE

In [ ]:
# On the data submission web UI, there will need to be a way to 
# 1) Register a protocol
# 2) Register strains and growth condtions,
# 3) Register an experiment
# 4) Upload data/metadata formatted according to predefined specifications. 

# Code below assumed that 1,2,3, are already in the database.
# 4 will be pulled from the MinIO storage.

In [5]:
import sys
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# from matplotlib.ticker import ScalarFormatter
# import copy

amiga = '/Users/celsloaner/code/amiga'
sys.path.append(amiga)

from amiga.libs.growth import GrowthPlate
from amiga.libs.model import GrowthModel

In [6]:
operation = 'csr_crc_exp_operation'
experiment = 'csr_crc_UGA_2025-05-05'

In [7]:
data_file = '/Users/celsloaner/code/non_ALE_growth_curves/Chanty_growth_data4/Chanty_data4.xlsx'

In [14]:
mapping = pd.read_excel(data_file, sheet_name='meta')

In [19]:
mapping.head()

,sample_number,strain_id,growth_condition,replicate
sample_name,,,,
E:csr_crc_UGA_2025-05-05.S:1.C:1.R:A,1,1,1,A
E:csr_crc_UGA_2025-05-05.S:1.C:1.R:B,2,1,1,B
E:csr_crc_UGA_2025-05-05.S:1.C:1.R:C,3,1,1,C
E:csr_crc_UGA_2025-05-05.S:1.C:1.R:D,4,1,1,D
E:csr_crc_UGA_2025-05-05.S:5.C:1.R:A,5,5,1,A

In [ ]:
mapping['experiment_id'] = experiment
mapping['operation_id'] = operation
mapping['measurement_type'] = 'growth'
mapping['filename'] = data_file
mapping['sample_name'] = ('E:' + experiment + 
                          '.S:' + mapping['strain_id'].astype(str) + 
                          '.C:' +  mapping['growth_condition'].astype(str) + 
                          '.R:' + mapping['replicate'])
mapping['plate'] = pd.NA
mapping['well'] = pd.NA
mapping['passage'] = pd.NA
mapping['parent_sample_id'] = pd.NA
mapping['innoculation_timestamp'] = pd.NA

In [ ]:
mapping.to_sql('sample', engine, index=False, if_exists='append')

#this is sample to sql and also measurement to sql
# then, get measurement_id, join with sample_id and use for od_measurements

In [ ]:
mapping.set_index('sample_name', inplace=True)

In [25]:
# Reading in and formatting data
raw = pd.read_excel(data_file, sheet_name='hour_OD')
data_cols = ['time'] + mapping.index.to_list()

data = raw.copy()
data.columns = data_cols

In [ ]:
od = pd.melt(data, id_vars=['time'], var_name='sample_name', value_name='od')
od['background'] = pd.NA
od.head()
# ['measurement_id', 'timepoint', 'od', 'background']

   time                              variable  value
0     1  E:csr_crc_UGA_2025-05-05.S:1.C:1.R:A  0.097
1     2  E:csr_crc_UGA_2025-05-05.S:1.C:1.R:A  0.105
2     3  E:csr_crc_UGA_2025-05-05.S:1.C:1.R:A  0.114
3     4  E:csr_crc_UGA_2025-05-05.S:1.C:1.R:A  0.135
4     5  E:csr_crc_UGA_2025-05-05.S:1.C:1.R:A  0.147

### Basic plate reader data transformations

In [26]:
plate = GrowthPlate(data=data,key=mapping)
plate.computeBasicSummary()
plate.raiseData()
plate.logData()
plate.subtractBaseline(True,poly=False)

In [34]:
plate.data

,E:csr_crc_UGA_2025-05-05.S:1.C:1.R:A,E:csr_crc_UGA_2025-05-05.S:1.C:1.R:B,E:csr_crc_UGA_2025-05-05.S:1.C:1.R:C,E:csr_crc_UGA_2025-05-05.S:1.C:1.R:D,E:csr_crc_UGA_2025-05-05.S:5.C:1.R:A,E:csr_crc_UGA_2025-05-05.S:5.C:1.R:B,E:csr_crc_UGA_2025-05-05.S:5.C:1.R:C,E:csr_crc_UGA_2025-05-05.S:5.C:1.R:D,E:csr_crc_UGA_2025-05-05.S:6.C:1.R:A,E:csr_crc_UGA_2025-05-05.S:6.C:1.R:B,...,E:csr_crc_UGA_2025-05-05.S:15.C:11.R:C,E:csr_crc_UGA_2025-05-05.S:15.C:11.R:D,E:csr_crc_UGA_2025-05-05.S:16.C:11.R:A,E:csr_crc_UGA_2025-05-05.S:16.C:11.R:B,E:csr_crc_UGA_2025-05-05.S:16.C:11.R:C,E:csr_crc_UGA_2025-05-05.S:16.C:11.R:D,E:csr_crc_UGA_2025-05-05.S:17.C:11.R:A,E:csr_crc_UGA_2025-05-05.S:17.C:11.R:B,E:csr_crc_UGA_2025-05-05.S:17.C:11.R:C,E:csr_crc_UGA_2025-05-05.S:17.C:11.R:D
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.079249,0.049762,0.010363,0.062520,0.051825,0.021506,0.020834,0.000000,0.010582,0.049271,...,0.052922,0.042560,0.020619,0.020834,0.032088,0.081678,0.020409,0.000000,0.031749,0.052368
2,0.161487,0.068993,0.040822,0.092373,0.031416,0.042560,0.041243,0.010929,0.101096,0.141079,...,0.141651,0.141651,0.089612,0.090514,0.103184,0.157186,0.069680,0.021053,0.062520,0.111791
3,0.330564,0.168623,0.089612,0.140229,0.091434,0.093332,0.041243,0.074108,0.308735,0.302720,...,0.274002,0.257335,0.127000,0.100083,0.178692,0.235829,0.060018,0.010582,0.092373,0.185899
4,0.415722,0.320307,0.189242,0.229574,0.129534,0.214410,0.164622,0.084260,0.574699,0.402092,...,0.405465,0.383486,0.214775,0.173511,0.274002,0.316518,0.088728,0.051825,0.130840,0.279585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
metrics = plate.key[['strain_id', 'growth_condition', 'OD_Max']]

for sample in plate.data.columns:
    # fit curve
    thisSample = pd.concat([plate.time, plate.data[sample]], axis=1).dropna() #### There were some missing values, so had to drop those, otherwise curve fitting won't work
    thisSample.columns = ['Time', 'OD']
    gm = GrowthModel(thisSample,ARD=True)
    gm.fit()
    curve = gm.run()
    metrics.loc[sample, 'growth_rate'] = curve.gr
    metrics.loc[sample, 'doubling_time'] = curve.td * 60
    metrics.loc[sample, 'lag_time'] = curve.lagC * 60

 /var/folders/73/0tllh63x0dg3j43z3krkq63c0000gp/T/ipykernel_76554/3997861069.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 /var/folders/73/0tllh63x0dg3j43z3krkq63c0000gp/T/ipykernel_76554/3997861069.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 /var/folders/73/0tllh63x0dg3j43z3krkq63c0000gp/T/ipykernel_76554/3997861069.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
metrics

,strain_id,growth_condition,OD_Max,GrowthRate (h-1),DoublingTime (min),LagTime(min)
sample_name,,,,,,
E:csr_crc_UGA_2025-05-05.S:1.C:1.R:A,1,1,0.371,0.179663,231.482220,149.991827
E:csr_crc_UGA_2025-05-05.S:1.C:1.R:B,1,1,0.382,0.234219,177.564105,223.043658
E:csr_crc_UGA_2025-05-05.S:1.C:1.R:C,1,1,0.367,0.227488,182.818004,266.570650
E:csr_crc_UGA_2025-05-05.S:1.C:1.R:D,1,1,0.368,0.241433,172.258021,268.328799
E:csr_crc_UGA_2025-05-05.S:5.C:1.R:A,5,1,0.476,0.244811,169.881402,342.249331
...,...,...,...,...,...,...
E:csr_crc_UGA_2025-05-05.S:16.C:11.R:D,16,11,0.387,0.103279,402.684026,108.415976
E:csr_crc_UGA_2025-05-05.S:17.C:11.R:A,17,11,0.316,0.213750,194.567592,648.846082
E:csr_crc_UGA_2025-05-05.S:17.C:11.R:B,17,11,0.326,0.154092,269.895336,478.666145
E:csr_crc_UGA_2025-05-05.S:17.C:11.R:C,17,11,0.327,0.215393,193.083924,536.127962
E:csr_crc_UGA_2025-05-05.S:17.C:11.R:D,17,11,0.301,0.091540,454.324633,98.339257

In [ ]:
    samples.rename(
        columns={
            'sample_name': 'name', 'experiment': 'experiment_id', 
            'plate_name': 'plate', 'cum_transfer': 'passage',
            'gc': 'growth_condition_id', 'strain': 'strain_id',
            'parent_id': 'parent_sample_id'
            }, inplace=True)
    samples.to_sql('sample', engine, index=False, if_exists='append')
    measurements = sample_meas[
        ['sample_name', 'operation_id', 'measurement_type', 'filename']
        ].copy()
    measurements.rename(
        columns={'sample_name': 'sample_id', 'measurement_type': 'type'},
        inplace=True
        )
    measurements.to_sql('measurement', engine, index=False, if_exists='append')

### Plotting growth curves

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import minio
import io
import re
from datetime import datetime

def etl():
    '''
    Extracts and transforms plate reader data from MinIO storage,
    and stores it in MySQL database.

    Args:

    Returns:
    
    '''
    # DB Connections
    
    
    engine = create_engine(
        (
            "mysql+pymysql://nspahr:henrylab@poplar.cels.anl.gov/"
            "anl_synbio?charset=utf8mb4"
        )
    )
    mio = minio.Minio(
        'poplar.cels.anl.gov:9000',
        secret_key="henry-minion",
        access_key="henrylab",
        secure=False
    )
    
    
    # Hardcoded variables. 
    # Later, these things should be supplied when the experimental team 
    # registers the experiment through the web UI.
    minio_bucket_name = 'synbio'
    path_to_plate_reader_files = 'ALE1b_OD_data/'
    path_to_layout_files = 'plate_layouts/'
    fname_pattern = re.compile(
        r'(?P<experiment>\w+)_(?P<timestamp>\d+)_(?P<uniqueID>\w+)_(?P<plate>\d+)_(?P<transfer>[1-3])_(?P<timepoint>\d+).txt'
        )
    experiment_id = path_to_plate_reader_files.split('_')[0]
    plate_type = '96_shallow' # could also be deep well plate
    start_date = '2025-04-04'
    exp_index = 1
    exp_type = 'autoALE'
    description = ''
    protocol_id = 'mock_1b_protocol'
    lab_id = 1
    contact_id = 1
    operation_id = f"{experiment_id}_operation"
    measurement_type = 'growth'
    plate_reader_filenames = get_plate_reader_filenames(
        minio_bucket_name, path_to_plate_reader_files, fname_pattern
        )
    transfer_layout = load_layout(
        minio_bucket_name, path_to_layout_files + 'transfer_layout.csv'
        )
    rep_layout = load_layout(
        minio_bucket_name, path_to_layout_files + 'replicate_layout.csv'
        )
    strain_layout = load_layout(
        minio_bucket_name, path_to_layout_files + 'strain_layout.csv'
        )
    gc_layout = load_layout(
        minio_bucket_name, path_to_layout_files + 'growth_condition_layout.csv'
        )
    
    
    # Upload this experiment and its operation (i.e., procedure) to the db.
    operation_dict = {
        'id': [operation_id],
        'protocol_id': [protocol_id],
        'lab_id': [lab_id],
        'contact_id': [contact_id],
        'timestamp': [start_date]
    }
    exp_operation_df = pd.DataFrame.from_dict(operation_dict)
    exp_operation_df.to_sql('operation', engine, index=False, if_exists='append')
    
    exp_dict = {
        'id': [experiment_id],
        'type': [exp_type],
        'start_date': [start_date],
        'index': [exp_index],
        'description': [description],
        'operation_id': [operation_id]
    }
    new_exp_df = pd.DataFrame.from_dict(exp_dict)
    new_exp_df.to_sql('experiment', engine, index=False, if_exists='append')
    
    # Initialize data df
    data = pd.DataFrame()
    
    # Read info from plate reader file names and file content into df
    for f in plate_reader_filenames:
    
        try:
    
            # Initialize row in dataframe
            data_row = {}
            match = fname_pattern.match(f)
    
            # Parse info contained in plate reader file name
            data_row['experiment'] = str(match.group('experiment'))
            data_row['file_ID'] = str(match.group('uniqueID'))
            data_row['timestamp'] = int(match.group('timestamp'))
            data_row['plate_index'] = int(match.group('plate'))
            # t_transfer indicates which plate cols were most recently innoculated.
            data_row['t_transfer'] = int(match.group('transfer'))
    
            # Read plate reader files into dataframe
            response = mio.get_object(
                minio_bucket_name, path_to_plate_reader_files+f
                )
            csv_data = response.data
            plate_data = pd.read_csv(io.BytesIO(csv_data), header=None)
            for row in range(8):
                for col in range(12):
                    data_row['row'] = row
                    data_row['column'] = col
                    data_row['OD'] = plate_data.iloc[row, col]
                    data = pd.concat([data, pd.Series(data_row).to_frame().T])
                    
        except Exception as e:
            print(f"Error: {e}")
            
        finally: 
            response.close()
            response.release_conn()
    
    data.reset_index(inplace=True, drop=True)
    
    # Translate row and column numbers to well names
    data['well'] = data.apply(
        lambda x: get_well_name(x['row'], x['column']), axis=1
        )
    # Translate timestamp into isoformat time
    data['datetime'] = data['timestamp'].apply(
        lambda x: datetime.fromtimestamp(x).isoformat()
        )
    
    # Appending metadata
    data['filename'] = path_to_plate_reader_files
    data['measurement_type'] = measurement_type
    data['experiment'] = experiment_id
    data['plate_type'] = plate_type
    data['start_date'] = start_date
    data['exp_index'] = exp_index
    data['operation_id'] = operation_id
    data['layout_filename'] = path_to_layout_files 
    # Given location on plate (row, col) and layout files, get the strain, 
    # growth condition, replicate number, and transfer_l for each well.
    # (transfer_l indicates transfer based on plate location.)
    data['strain'] = data.apply(
        lambda x: strain_layout.iloc[x['row'], x['column']], axis=1
        ).astype("Int64")
    data['replicate'] = data.apply(
        lambda x: rep_layout.iloc[x['row'], x['column']], axis=1
        ).astype("Int64")
    data['gc'] = data.apply(
        lambda x: gc_layout.iloc[x['row'], x['column']], axis=1
        ).astype("Int64")
    data['l_transfer'] = data.apply(
        lambda x: transfer_layout.iloc[x['row'], x['column']], axis=1
        ).astype("Int64")
    
    # Determine innoculation status
    # Explanation: All wells on a plate are read at each timepoint, but only some
    # of the wells will be inoculated at any given timepoint. Only wells that have
    # media in them (i.e., growth condition not NA) are considered *samples*.
    # Samples that do not have a strain designation are negative controls.
    # Depending on the location on the plate, samples can have 11, 22, or 33
    # timepoints. The calculation below determines which transfer to assign a
    # given OD reading to.
    
    # Calculate actual transfer number for a given reading
    data['l-t_transfer'] = data.apply(
        lambda x: x['l_transfer']-x['t_transfer'], axis=1
        )
    data['transfer'] = np.where(
        (data['l-t_transfer']<=0), data['l_transfer'], 1
        )
    
    # Compute total number of plates, transfers for this experiment
    # There are 3 transfers per plate, x plates per batch, and y batches per
    # experiment. A batch is defined as a continuous run of the robot without
    # any interruption. All measurements in a batch will have the same file_ID.
    # Each batch starts with plate=1, transfer=1, timepoint=1. To accurately
    # calculate the cummulative number of transfers since the beginning of the
    # experiment for each data point, we need to calculate the number of transfers
    # for the individual batches and their cumulative number (in their correct 
    # order).
    
    batches = (
        data.groupby('file_ID')['datetime']
        .agg("min")
        .reset_index()
        .sort_values('datetime')['file_ID']
        .to_list()
    )
    batch_n_transfers = [0]  # transfers for each of the batches.
    # Start with 0, because the first batch has no prior transfers.
    batch_n_plates = [0]  # number of plates for each of the batches.
    # Start with 0, because first batch has no prior plates.
    
    for batch in batches:
        # Loop through each batch and calculate the number of transfers
        batch_data = data.loc[
            (data['file_ID'] == batch) & (~pd.isna(data['transfer']))
        ]
        # From last measurement in batch, total number of plates and transfers in
        # this batch
        max_plate = batch_data.sort_values(['plate_index', 'transfer']).iloc[-1]
        batch_n_plates.append(max_plate['plate_index'])
        batch_transfers = (max_plate['plate_index']-1)*3 + (max_plate['transfer'])
        batch_n_transfers.append(batch_transfers)
    
    # cumulative transfers (# of transfers since the start of the experiment)
    batch_cumsum_t = np.cumsum(np.array(batch_n_transfers[:-1])) 
    batch_dict_t = dict(zip(batches, batch_cumsum_t))
    # cumulative plates (# of plates since the start of the experiment)
    batch_cumsum_p = np.cumsum(np.array(batch_n_plates[:-1])) 
    batch_dict_p = dict(zip(batches, batch_cumsum_p))
    
    data['cum_transfer'] = np.where(
        data['transfer']==0, np.array([0]*len(data)), 
        data.apply(
            lambda x: get_transfers(
                batch_dict_t, x['file_ID'], x['plate_index'], x['transfer']
                ), axis=1)
                ) 
    data['cum_plate'] = data.apply(
        lambda x: get_plates(
            batch_dict_p, x['file_ID'], x['plate_index']
            ), axis=1
            )
    
    # data['strain'] is NA (i.e., negative control) if not yet inoculated
    data['strain'] = np.where(
        (data['l-t_transfer']>0), 
        np.array([pd.NA]*len(data)), 
        data['strain']
        )
    data['strain'] = data['strain'].astype("Int64")
    data['replicate'] = np.where(
        pd.isna(data['strain']), 
        np.array([pd.NA]*len(data)), 
        data['replicate']
        )
    data['replicate'] = data['replicate'].astype("Int64")
    
    # Calculate a background value for each plate reader measurement
    # (based on the wells that only contain media)
    data['background'] = pd.NA
    data['background'] = data.groupby(
        ['experiment', 'plate_index', 'timestamp']
        )['OD'].transform(
        lambda x: x[data.loc[x.index, 'strain'].isna()].mean()
        )
    
    # Compute innoculation timestamp based on the oldest timestamp
    data['innoculation_timestamp'] = pd.NA
    data.loc[
        (~(pd.isna(data['cum_transfer']))) & (~(pd.isna(data['strain']))),
        'innoculation_timestamp'
        ] = data.groupby(
            ['cum_plate', 'cum_transfer']
            )['datetime'].transform("min")
    
    # Assign parent samples
    # Only innoculated samples (i.e., not neg. controls) can have parent samples.
    # Only samples after passage 1 have parent samples (passage 1 parents will 
    # have to be manually assigned)
    data['parent_plate'] = pd.NA
    data.loc[
        ~pd.isna(data['strain']) & (data['cum_transfer'] != 1),
        'parent_plate'] = data.apply(
            lambda x: get_parent_plate(
                x['cum_plate'], x['column']
                ), axis=1)
    data['parent_well'] = pd.NA
    data.loc[
        ~pd.isna(data['strain']) & (data['cum_transfer'] != 1),
        'parent_well'] = data.apply(
            lambda x: get_well_name(x['row'], get_parent_col(x['column'])), axis=1)
    
    # Assign plate, well, and sample names
    data = data.convert_dtypes()
    data['plate_name'] = (
        'E:' + data['experiment'] + '.P:' + data['cum_plate'].astype(str)
    )
    data['well_name'] = data['plate_name'] + '.W:' + data['well'].astype(str)
    data['sample_name']= pd.NA
    data.loc[(~(pd.isna(data['gc']))), 'sample_name'] = (
        data['well_name'] + '.S:' + data['strain'].astype(str) + '.C:' +
        data['gc'].astype(str) + '.R:' + data['replicate'].astype(str) +
        '.T:' + data['cum_transfer'].astype(str)
    )
    
    # get parent_id
    data['parent_id'] = pd.NA
    data.loc[
        (~(pd.isna(data['strain']))) &
        (~(pd.isna(data['gc']))) &
        (data['cum_transfer'] != 1),
        'parent_id'] = (
            'E:' + data['experiment'] + '.P:' + data['parent_plate'].astype(str) + 
            '.W:' + data['parent_well'].astype(str) + '.S:' + data['strain'].astype(str) + 
            '.C:' + data['gc'].astype(str) + '.R:' + data['replicate'].astype(str) + 
            '.T:' + (data['cum_transfer']-1).astype(str)
        )
    # data = data.convert_dtypes()
    
    
    # Reformat data for database upload
    # 1) Plates
    plates = data[
        ['plate_name', 'experiment', 'plate_type', 'plate_index', 'layout_filename']
        ].drop_duplicates().reset_index(drop=True)
    plates.rename(
        columns={'plate_name': 'id', 'experiment': 'experiment_id'}, inplace=True
        )
    plates.to_sql('plate', engine, index=False, if_exists='append')
    
    # 2) Samples and associated measurements
    # Each sample has a measurement of type 'growth' to which all od_measurements map.
    sample_meas = data.loc[
        ~pd.isna(data['sample_name']) & (~(pd.isna(data['gc'])))
        ].drop_duplicates(
            (['sample_name', 'experiment', 'plate_name', 'well', 'cum_transfer',
              'gc', 'strain', 'innoculation_timestamp', 'replicate', 'parent_id'])
                     ).sort_values('innoculation_timestamp')
    samples = sample_meas[
        (['sample_name', 'experiment', 'plate_name', 'well', 'cum_transfer','gc', 
          'strain', 'innoculation_timestamp', 'replicate', 'parent_id'])
          ].copy()
    samples.rename(
        columns={
            'sample_name': 'name', 'experiment': 'experiment_id', 
            'plate_name': 'plate', 'cum_transfer': 'passage',
            'gc': 'growth_condition_id', 'strain': 'strain_id',
            'parent_id': 'parent_sample_id'
            }, inplace=True)
    samples.to_sql('sample', engine, index=False, if_exists='append')
    measurements = sample_meas[
        ['sample_name', 'operation_id', 'measurement_type', 'filename']
        ].copy()
    measurements.rename(
        columns={'sample_name': 'sample_id', 'measurement_type': 'type'},
        inplace=True
        )
    measurements.to_sql('measurement', engine, index=False, if_exists='append')
    
    # 3) OD_measurements
    # The index of the db table `measurements` autoincrements, so the measurement
    # ids to which the od_measurements of the current dataset belong are not known
    # ahead of time. Therefore, need to download all measurements whith sample ids
    # from this dataset to get their ids, then merge with OD readings.
    sample_names = tuple(sample_meas['sample_name'])
    meas_from_db = pd.read_sql(
        f"SELECT `id`, `sample_id` FROM `measurement` WHERE `sample_id` IN {sample_names};",
        engine
        ).rename(columns={'id': 'measurement_id'})
    od_meas = meas_from_db.merge(
        data, left_on='sample_id', right_on='sample_name', how='inner'
        )[['measurement_id', 'datetime', 'OD', 'background']].rename(
            columns={'OD': 'od'}
            )
    od_meas.to_sql('od_measurement', engine, index=False, if_exists='append')

In [ ]:
etl()

## Pull data (and plot)

Given an experiment id and a strain id, pull the corresponding samples form the database and present in pandas DataFrame.
The function plot_OD() plots the data (using matplotlib).

In [ ]:
from sqlalchemy import create_engine
import pandas as pd


def query_OD(experiment_id, strain_id):
    '''
    Queries db for all samples from specified experiment and returns all 
    associated od_measurements as pandas DataFrame. Plots all samples of
    specified strain_id.

    Args:
        experiment_id (str): Experiment id. Must be in db.
        strain_id (str): Strain id. Must be in db.
    Returns:
        DataFrame    
    '''
    
    # DB Connection
    engine = create_engine(
        (
            "mysql+pymysql://nspahr:henrylab@poplar.cels.anl.gov/"
            "anl_synbio?charset=utf8mb4"
        )
    )

    # Hardcode experiment id. To be changed later
    experiment_id = 'ALE1b'

    # Check validity of passed arguments
    db_experiments = pd.read_sql(
        "SELECT experiment.id FROM experiment", engine
    )['id'].to_list()

    db_strains = pd.read_sql(
        "SELECT strain.id FROM strain", engine
    )['id'].to_list()

    if (
        experiment_id not in db_experiments
    ) or (
        strain_id not in db_strains
    ):
        print(f"Check if experiment and strain are registered in the db.")
        
        return None
        
    # Hardcoded query. This can be made more flexible later.
    query = """
    SELECT 
        experiment.id,
        sample.name, sample.passage, 
        sample.strain_id, strain.long_name,
        sample.growth_condition_id, growth_condition.carbon_source,
        measurement.type,
        od_measurement.datetime, od_measurement.od, od_measurement.background
    FROM 
        experiment
        INNER JOIN sample ON sample.experiment_id = experiment.id
        INNER JOIN measurement ON measurement.sample_id = sample.name
        INNER JOIN od_measurement ON od_measurement.measurement_id = measurement.id
        INNER JOIN strain ON strain.id = sample.strain_id
        INNER JOIN growth_condition ON growth_condition.id = sample.growth_condition_id
        
    WHERE 
        (experiment.id=%(experiment)s) AND (sample.strain_id=%(strain)s)
    """
    
    selection = pd.read_sql(
        query, engine, params={'experiment': experiment_id, 'strain': str(strain_id)}
    ).rename(
        columns={'id': 'experiment_id',
                 'name': 'sample_name',
                 'type': 'measurement_type',
                 'long_name':'strain_name'}
    )

    return selection

In [ ]:
selection = query_OD('not_a_real_argument', 2)
selection.head()

In [ ]:
import matplotlib.pyplot as plt
from matplotlib import colormaps
from matplotlib.lines import Line2D
from matplotlib.ticker import ScalarFormatter
from statistics import mean, median
import pandas as pd
import numpy as np

def plot_OD(df, subtract_background = False, yscale='log', append_title=''):
    '''
    Plots OD measurements from DataFrame that is returned from od_query function.

    Args:
        df (pandas.DataFrame): Dataframe returned from od_query() function.
        subtract_background (bool): Whether to subtract background reading 
            from all measurements.
        yscale (str): 'log' or 'linear'
        append_title (str): Additional text to add to the figure title
    Returns:
        None    
    '''

    # Prepare data for plotting
    df = df.sort_values('datetime')
    df['od_background_subtracted'] = df['od'] - df['background']
    
    if subtract_background:
        value = 'od_background_subtracted'
    else:
        value = 'od'

    # Define different combinations of conditions that will be plotted
    conditions = df[['carbon_source', 'strain_name']].drop_duplicates().dropna()
    conditions['label'] = conditions.apply(
        lambda x: f'{x["strain_name"]} - {x["carbon_source"]}', axis=1
    )
    conditions['colors'] = colormaps['tab20'].colors[:len(conditions)]

    # For the legend
    handles = []
    labels = []

    # Create a figure and a set of subplots
    fig, ax = plt.subplots()

    # Figure will need to be stretched horizontally for readability
    fig_width, fig_height = fig.get_size_inches() # Get the current figure size
    fig.set_size_inches(fig_width * 3.5, fig_height) # Doubling the width
    
    total_transfers = df['passage'].max()

    # For the defined conditions and at each transfer,
    # plot the OD readings
    for i, row in conditions.iterrows():
        handle_line = Line2D([0], [0], label=row['label'], color=row['colors'])
        handles.append(handle_line)
        label = row['label']
        labels.append(label)
        
        for t in range(total_transfers+1):
            this_condition = df.loc[
                (df['carbon_source'] == row['carbon_source']) &
                (df['strain_name'] == row['strain_name']) &
                (df['passage'] == t)
            ]
            this_condition = this_condition.groupby('datetime'
                                                   )[value].agg(mean).to_frame().reset_index()
            plt.plot(
                this_condition['datetime'],
                this_condition[value],
                color=row['colors'],
                marker='o',
                markersize=2
            )
            
    # Configure and label the axes and tickmarks
    plt.yscale(yscale)
    ax.yaxis.set_major_formatter(ScalarFormatter())
    plt.xlabel('datetime')
    plt.ylabel('OD') 

    early_datetimes = df.groupby('passage')['datetime'].agg(
        lambda x: sorted(list(set(x)))[3])
    secax = ax.secondary_xaxis('top')
    secax.set_xticks(early_datetimes, np.arange(1, total_transfers+1, 1))
    secax.set_xlabel('transfer')

    # Set title and legend
    plt.title(value + append_title, fontsize=16)
    plt.legend(handles=handles, labels=labels, loc='lower center')
    
    plt.show()

In [ ]:
plot_OD(selection, subtract_background = False, yscale='log', append_title='')