NOT TESTED

# Upload sequencing files to appropriate samples in db

1. Upload reads from Box to minIO.
2. If samples for these reads don't yet exist in the db,
   1. create samples
   2. create operation
   3. create sequencing measurement
   4. create long-read/short-read seq measurement
3. If exist, look up -> create sequencing measurement -> create long-read/short-read seq measurement
   1. create operation
   2. create sequencing measurement
   3. create long-read/short-read seq measurement

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine(
    (
        "mysql+pymysql://nspahr:henrylab@poplar.cels.anl.gov/"
        "anl_synbio?charset=utf8mb4"
    )
)
mio = minio.Minio(
    'poplar.cels.anl.gov:9000',
    secret_key="henry-minion",
    access_key="henrylab",
    secure=False
)

### Create samples

In [1]:
def register_sample(name, experiment_id, plate, well, growth_condition_id, strain_id, replicate, passage, parent_sample, innoculation_timestamp):
    sample_dict = {
        'name': [name],
        'experiment_id': [experiment_id],
        'plate': [plate],
        'well': [well],
        'growth_condition_id': [growth_condition_id],
        'strain_id': [strain_id],
        'replicate': [replicate],
        'passage': [passage],
        'parent_sample': [parent_sample],
        'innoculation_timestamp': [innoculation_timestamp]
    }
    new_sample_df = pd.DataFrame.from_dict(sample_dict)
    new_sample_df.to_sql('sample', engine, index=False, if_exists='append')

### Look up samples

In [48]:
from sqlalchemy import create_engine
import pandas as pd


def query_samples(sample_names):
    '''
    Queries db for specified samples and returns as pandas DataFrame.

    Args:
        sample_names (list): Sample names.
    Returns:
        DataFrame    
    '''
    
    # DB Connection
    engine = create_engine(
        (
            "mysql+pymysql://nspahr:henrylab@poplar.cels.anl.gov/"
            "anl_synbio?charset=utf8mb4"
        )
    )
        
    # Hardcoded query. This can be made more flexible later.
    query = f"""
    SELECT * FROM sample WHERE name IN (%(sample_names)s);
    """

    selection = pd.read_sql(
        query, engine, params={'sample_names': sample_names}
    )

    return selection

In [51]:
sample_name_list = ['E:2025-04-14_UGA.S:1.C:13.R:1']

In [ ]:
register_protocol(id, description, filename)

In [ ]:
register_operation(op_id, protocol_id, lab_id, contact_id, timestamp)

In [52]:
meas_to_db = query_samples(sample_name_list)
meas_to_db['meas_type'] = 'long_read' #'short_read'
meas_to_db['operation_id'] = operation_id
meas_to_db['filename'] = filename

do we really need long read/short read measurement records when measurement already has filename

,name,experiment_id,type,plate,well,growth_condition_id,strain_id,replicate,passage,parent_sample_name,innoculation_timestamp
0,E:2025-04-14_UGA.S:1.C:13.R:1,2025-04-14_UGA,None,None,None,13,1,1,None,None,None

In [ ]:
def register_sample(name, experiment_id, plate, well, growth_condition_id, strain_id, replicate, passage, parent_sample, innoculation_timestamp):
    sample_dict = {
        'name': [name],
        'experiment_id': [experiment_id],
        'plate': [plate],
        'well': [well],
        'growth_condition_id': [growth_condition_id],
        'strain_id': [strain_id],
        'replicate': [replicate],
        'passage': [passage],
        'parent_sample': [parent_sample],
        'innoculation_timestamp': [innoculation_timestamp]
    }
    new_sample_df = pd.DataFrame.from_dict(sample_dict)
    new_sample_df.to_sql('sample', engine, index=False, if_exists='append')